.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
}
.content {
    max-width: 694px;
    width: 100%;
    padding: 50px;
    background: #ffffff;
}
.title {
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-align: center;
    margin-bottom: 50px;
}
.label {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid grey;
    /* padding: 20px; */
    border-radius: 5px;
    margin-bottom: 50px;
}
.input {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 16px;
}
.input_title {
    position: absolute;
    top: -10px;
    left: 26px;
    background: #ffffff;
    padding: 0 10px;
}
.radioButtons_wrapper {
    margin-bottom: 50px;
}
.label_radio {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.input_radio {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
.button_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 1.42;
}