.container {
	/* max-width: 1396px; */
    /* max-width: 100%; */
    /* min-height: 100vh; */
	margin: 0 auto;
	/* height: 100%; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding-top: 12px; */
    /* background: #FFFF; */
}

button {
    cursor: pointer;
}