.wrapper {
    /* background: #ECE6F0; */
}
.container {
    max-width: 1396px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    /* background: #E2EBE9; */
}
.title_wrapper {
    padding-left: 50px;
}
.title {
    position: relative;
    min-width: 219px;
    margin-right: 100px;
    font-family: "Lato";
    font-size: 22px;
    font-weight: normal;
    background: inherit;
    padding: 0 10px;
    line-height: 1.5;
    /* text-align: center; */
}
.title::after {
    content: '“Данное имя скрипта уже существует, выберите другое.”';
    position: absolute;
    left: 0;
    opacity: 0;
    top: calc(100% + 25px);
    min-width: 500px;
    padding: 10px;
    /* border: 1px solid; */
    border-radius: 10px;
    font-size: 17px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    transition: opacity 1s;
    text-align: center;
    /* background: #E2EBE9; */
}
.title.active::after {
    /* content: '“Данное имя скрипта уже существует, выберите другое.”'; */
    /* position: absolute; */
    /* left: 0; */
    opacity: 1;
    /* top: calc(100% + 25px); */
    /* min-width: 500px; */
    /* padding: 10px; */
    /* border-radius: 10px; */
    /* font-size: 17px; */
    /* box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30); */
    transition: opacity 0.5s;
} 
.item_left,.item_right {
    display: flex;
    align-items: center;
}
input.title_input {
    min-width: 219px;
    font-family: "Lato";
    font-size: 22px;
    font-weight: normal;
    background: inherit;
    cursor: pointer;
    padding: 0 0 0 10px;
    margin-right: 100px;
    outline: 2px solid;
}
.item_right {
    padding-right: 20px;
}
.segmentes_button_wrapper {
    display: flex;
}
.segmentes_button_left,
.segmentes_button_right {
    padding: 10px 12px;
    border: 1px solid #79747E;
}
.segmentes_button_left button,
.segmentes_button_right button {
    display: flex;
    align-items: center;
    font-size: inherit;
}
.segmentes_button_left.active,
.segmentes_button_right.active {
    background: #E2EBE9;
}
.segmentes_button_left {
    border-radius: 100px 0px 0px 100px;
}
.segmentes_button_right {
    border-radius: 0px 100px 100px 0px;
}
/* .checkmark {

} */