.wrapper {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: #000; */
    /* max-height: 100vh; */
    /* height: 100%; */
}

.main {
    position: relative;
    font-family: inherit;
	background-color: #FFFFFF;
	flex-grow: 1;
    flex-shrink: 0;
    /* border: 1px solid grey; */
    /* min-height: 680px; */
    min-height: 100vh;
}
.bottom_title {
    position: absolute;
    font-weight: 400;
    width: 100%;
    bottom: 0vh;
    background: transparent;
    text-align: center;
}
