/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

.header {
  font-family: "Lato";
  height: 100px;
  width: 100%;
  background-color: #e2ebe9;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 100px;
}

.container {
  font-family: "Lato";
  max-width: 1396px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #525065;
  font-family: "Audiowide";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
	height: 100px;
	width: 100%;
  line-height: 1;
  min-height: 100px;
}
.container,
.headerRight,
.headerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRightNoHelp {
  justify-content: flex-end;
}

/* .headerLeft { */
    /* gap: 125px; */
    /* justify-content: flex-start; */
/* } */

.headerTitle {
    font-family: "Lato";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 32px;
  font-family: "Lato";margin-left: 32px;
  flex: 0 0 100%;
  /* name role */
}
.h1{
    font-family: "Lato";
}
.help,
.headerRight {
    /* font-size: 1.375rem;
    line-height: 28px; */
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.27;
    /* font-size: 1.375rem;
    line-height: 28px; */
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.27;
}

.headerRight {
  min-width: 411px;
  height: 48px;
  font-family: "Lato";
}
.avatar,.notify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-right: 20px;
  font-family: "Lato";
}

.notify {
  margin: 0 44px;
  position: relative;
  /* cursor: pointer; */
}

/* .notify:hover, */
.notifyNoHelp:hover {
  cursor: pointer;
}

.notifyNoHelp {
  margin-left: 44px;
  position: relative;
}

.counter {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  padding: 2px 0 0 2px;
  border-radius: 100px;
  background-color: #d32c23;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: -8px;
  z-index: 15;
  padding: 20px;
  width: 912px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 32px 12px 8px 12px;
}

.avatar,
.notify,
.notifyNoHelp {
  width: 34px;
  height: 34px;
}

.headerNotifyTitle {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  padding-left: 28px;
}

.dropdownTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 24px 0;
}

.container {
  color: #212320;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.logo_img {
  width: 64px;
  height: 64px;
  background-image: url("../../Assets/images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

