/* .wrapper {
    background: #E2EBE9;
    min-height: 100vh;
    } */
    .container {
        max-width: 1396px;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px 0 20px;
        background: #F4F8F7;
    }
    /* .content {
        width: 100%;
    } */