.footer {
    /* font-family: inherit;
	border: 1px solid #000000;
	height: 100px;
	width: 100%;
    background-color: #FFFFFF;
	color: #000000;
    font-weight: 400;
	font-size: 18px;
	line-height: 21px; */
}

.container {
	/* max-width: 1168px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; */
}
