table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #E2EBE9;
}

td {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    min-width: 164px;
    height: 48px;
}

.shortFirstCol:first-child {
    min-width: 58px;
}
