.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
}
.content {
    max-width: 694px;
    width: 100%;
    padding: 50px;
    background: #ffffff;
}
.title {
    font-family: "Lato",sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    text-align: center;
    margin-bottom: 50px;
}
.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 1.42;
}