aside {
    width: 245px;
    /* height: 100%; */
    padding: 20px 11px 10px 11px;
    background-color: #E2EBE9;
    flex-shrink: 0;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

.accordion {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.accordion > img {
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    transition: all 0.2s linear;
}

.accordion > img.arrowUp {
    transform: rotate(0deg);
}

.assetsHeader {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-style: inherit;
    font-weight: 400;
    line-height: normal;
}

.contentWrapper {
    overflow: hidden;
    height: 0;
    transition: height 0.2s linear;
}

.blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    gap: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height:404px;
    transition: height 0.2s linear;
}

.blocks > div {
    cursor: grab;
}

.contentWrapper.isOpen {
    height: calc(24px - 10px + 404px);
}

.blockStart {
    width: 160px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #BF76ED;
    background-color: #F5E5FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.blockStart > .blockHeader {
    font-weight: 500;
}

.blockVarOk > .blockHeader {
    line-height: 28px
}

.blockAction > .blockHeader {
    display: flex;
    /* text-align: center; */

}

.blockContent,
.blockContentSmall,
.blockVarNotOk > .blockHeader {
    font-weight: 400;
}

.blockAction > .blockHeader,
.blockVarOk > .blockHeader {
    font-weight: 600;
}

.blockContent,
.blockStart > .blockHeader,
.blockAction > .blockHeader,
.blockVarOk > .blockHeader,
.blockVarNotOk > .blockHeader {
    font-family: inherit;
    font-size: 1rem;
    line-height: 16px;
}

.blockVarOk,
.blockAction {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
}

.blockAction {
    border: 1px solid #4AB9F5;
    background-color: #E8F7FF;
}

.blockVarNotOk {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E15B5A;
    background-color: #FFE0E0;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    text-align: center;
}

.blockVarOk {
    border: 1px solid #56C24E;
    background-color: #E6FFE4;
}

.blockContentSmall {
    font-size: 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 16px;
}
/* ===================== */
/* .blockStart, .blockHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blockHeader {
    margin-left: 30%;
}

.blockVarNotOk > .blockHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space:nowrap;

} */
.blockHeader{
    display: flex;
    justify-content: space-between;
}

.blockAction>.blockHeader>h3{
    margin-left: 45px;
}

.blockDesicion {
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFCC66;
    background-color: #FFF2D8;
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    text-align: center;
}
.iconInfo:hover{
    cursor: pointer;
}